In [1]:
import numpy as np
import pandas as pd
import os
import random
random.seed(1)

from tqdm import tqdm_notebook as tqdm

import lightgbm as lgb

In [2]:
input_path = '../datasets/'

In [3]:
# log_df = pd.read_csv(os.path.join(input_path, 'carlog.csv'))
meta_df = pd.read_csv(os.path.join(input_path, 'meta.csv'))
test_df = pd.read_csv(os.path.join(input_path, 'test.csv'))
product_master_df = pd.read_csv(os.path.join(input_path, 'product_master.csv'))

# 正解データの作成

In [4]:
is_predict = True # True

log_df2 = pd.read_csv('../output/cart_log.csv')
log_df2.head()

/Users/imazekishouta/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,session_id,register_number,date,hour,spend_time,display_action_id,user_id,value_1,name_1,kind_1,number_1,value_2,name_2,kind_2,number_2,unit_price,n_items,is_payment,predict
0,0,2003,2019-02-14,4,0,136,bE94Gct4vGiKM7z2Y79cjk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1,0,2003,2019-02-14,4,32,209,bE94Gct4vGiKM7z2Y79cjk,4522646719765,おかかおにぎり ５９円,商品,1.0,NaN,NaN,NaN,NaN,59.0,1,0,0
2,0,2003,2019-02-14,4,37,209,bE94Gct4vGiKM7z2Y79cjk,4522646695663,梅（種なし）おにぎり５９,商品,1.0,NaN,NaN,NaN,NaN,59.0,1,0,0
3,0,2003,2019-02-14,4,52,209,bE94Gct4vGiKM7z2Y79cjk,4522646716641,紅鮭おにぎり７９円,商品,1.0,NaN,NaN,NaN,NaN,79.0,1,0,0
4,0,2003,2019-02-14,4,59,209,bE94Gct4vGiKM7z2Y79cjk,4522646695670,明太子おにぎり ７９円,商品,1.0,NaN,NaN,NaN,NaN,79.0,1,0,0

## 購入イベントのあったセッションのみに絞る

In [5]:
def get_paid_event(df):
    print('all sessions: ', len(df.session_id.unique()))

    paid_event_ids = list(df[df['is_payment']==1]['session_id'].unique())
    print('num sessions paid: ', len(paid_event_ids))

    return df[df['session_id'].isin(paid_event_ids)]

paid_event_df = get_paid_event(log_df2)

all sessions:  720175
num sessions paid:  618462

## 商品レコードのみに絞る

In [6]:
def get_item_record(df, cols=['session_id', 'value_1', 'n_items', 'predict']):
    return df[df['kind_1']=='商品'][cols]

paid_item_event_df = get_item_record(paid_event_df)
paid_item_event_df.head()

   session_id        value_1  n_items  predict
1           0  4522646719765        1        0
2           0  4522646695663        1        0
3           0  4522646716641        1        0
4           0  4522646695670        1        0
5           0  4522646720440        1        0

## 予測対象行に絞る

In [7]:
def get_target_category_record(df, is_predict=True):
    if is_predict:
        df = df[df['predict']==0] # 見えてるところの情報だけにする
    return df.drop(['predict'], axis=1)

paid_item_event_df = get_target_category_record(paid_item_event_df, is_predict=is_predict)
paid_item_event_df.head()

   session_id        value_1  n_items
1           0  4522646719765        1
2           0  4522646695663        1
3           0  4522646716641        1
4           0  4522646695670        1
5           0  4522646720440        1

## 購入個数の集計

In [8]:
def calc_buy_num(df):
    df = df.groupby(['session_id'])[['n_items']].sum().reset_index()
    return df
target_item_sum_df = calc_buy_num(paid_item_event_df)
target_item_sum_df.head()

   session_id  n_items
0           0        5
1           1        5
2           2        5
3           3        7
4           4        1

## Userと紐づける

In [9]:
def join_user_id(df, meta_df):
    session_df = meta_df[['session_id', 'user_id']]
    df = pd.merge(session_df, df, on='session_id', how='left')
    return df

all_sessions_Y = join_user_id(target_item_sum_df, meta_df)
all_sessions_Y.head()

   session_id                 user_id  n_items
0           0  bE94Gct4vGiKM7z2Y79cjk      5.0
1           1  V4bEuaKPEPoK8MswqPksvK      5.0
2           2  ntRurFKVWYBQR86auef5Fc      5.0
3           3  GhHaHMCyrz76y2dCeVXfbn      7.0
4           4  kG58HejrEcbjJQ7JojRSay      1.0

In [10]:
if is_predict:
    print('is_predict')
    all_sessions_Y.to_csv('../output/given_train_buy_num.csv', index=None)
else:
    all_sessions_Y.to_csv('../output/all_train_buy_num.csv', index=None)

is_predict